/.phpcs-cache
/.phpunit.result.cache
/clover.xml
/coveralls-upload.json
/phpunit.xml
.idea/*
vendor/*
/mongodb/
bin/*
composer.*
!composer.json
!composer.lock
!build/coverage-checker.php
build/*
.env
.env.dev
.env.prod
